[user]
    email = D.J.N.Allaerts-1@tudelft.nl
    name = Dries Allaerts
[push]
    default = simple
[core]
    fileMode = false
    editor = vim
[alias]
    shorttree = log --all --graph --decorate --oneline --color --simplify-by-decoration
    tree = log --all --graph --decorate --oneline --color
    co = checkout
    ci = commit
    st = status
    last = log -1 HEAD
    br = branch
    bra = branch -a
    brv = branch -vv
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(auto)%h%d %s - %an (%ar)' --all --color
    rmv = remote -v
    alias = config --get-regexp ^alias\\.
